body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(15, 183, 46);
}

.centralizar{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flex{
    display: flex;
}

.botoes_menu{
    width: 300px;
    margin-right: 20px;
    border-style: solid;
    border-width: 3px;
}